.image {
  width: 100%;
  /*height: 100vh;*/

}

.container {
  margin-top: 10%;
  text-align: center;
  background-color: rgb(245 242 242 / 61%);
  backdrop-filter: blur(5px);
  /* padding-bottom: 200px; */
  border-radius: 5px;
  min-width: 280px;
}

.icon {
  color: #ff0080
}

.link, .link:visited {
  color: #157ce4;
}

.link:hover {
  color: #00008B;
}
.login__page {
  /* margin-left: -20px; */

  /* background-image: url(https://img.wallpapersafari.com/desktop/1600/900/60/87/sRyDw7.jpg); */
  /* background-repeat: no-repeat; */
  /* width: 100vw; */
  height: 100%;
  /* overflow: hidden; */
}
.center{
  /* margin-top:-10px; */
  display: flex;
  justify-content: center;
  
  /* margin-right: 70px; */
}

@media screen and (max-width: 480px) {
.radioCustom{
display:flex !important;
  flex-direction:column !important;
}
}

